.controls {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    padding: 10px;
    display: none;
}

.inputs {
    display: flex;
    flex-direction: column;
}

.inputs input {
    margin-bottom: 5px;
}

.construction-panel {
    margin-top: 10px;
}

.construction-panel button {
    margin-left: 5px;
}